body {
  background-color: #aa1b6a2d;
  padding: 20px;
}
.color-box {
  width: 100px;
  height: 100px;
}
.color1 {
  background-color: #46101b;
}
.color2 {
  background-color: rgb(156, 43, 69);
}
.color3 {
  background-color: red;
}
.color4 {
  background-color: hsl(323, 66%, 45%);
}
.color5 {
  background-color: hsla(224, 62%, 52%, 0.8);
}
.color-grid {
  width: 80vw;
  height: 80vh;
  border: 2px solid;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
